.tab-product {
  @media (max-width: 425px) {
    min-width: 100px;
  }
}

.icon-nav {
  .header-search-custom {
    background-color: #f8f8f8;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    &.is-theme {
      background-color: #f8f8f890;
    }

    .input-search {
      border: 0;
      outline: 0;
      width: 90%;
      height: 100%;
      background-color: #f8f8f8;
      border-radius: 16px;

      &.is-theme {
        background-color: #f8f8f805;
        color: black;
      }
    }
  }
}

.voucher-custom {
  .voucher-background {
    max-width: 672px;
    height: 310px;
    box-shadow: 0px 0.5px 5px gray;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .voucher-desc {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .p1 {
      font-size: 66px;
      font-weight: 800;
    }

    .p2 {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .sale-off {
    color: #ff4c3b;
    font-weight: 800;
    font-size: 24px;
    height: 80px;
    text-align: right;
    width: 100%;

    span {
      color: #ff4c3b;
      font-weight: 800;
      font-size: 64px;
    }
  }
}

.product-infomation {
  border: 1px solid gray;
  padding: 0px 20px 15px 20px;
  margin-top: 10px;
  max-height: 452px;
  width: 100%;

  &.scrollbar {
    overflow-y: scroll;
  }

  &.scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  &.scrollbar::-webkit-scrollbar-track {
    background: #dddddd;
  }

  &.scrollbar::-webkit-scrollbar-thumb {
    background: var(--theme-deafult);
    border-radius: 4px;
  }

  &.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ff4c3b80;
  }
}

.product-type {
}

.modal-custom {
  .content-input {
    margin-bottom: 20px;

    input {
      height: 50px;
    }
  }
}

.button-add-to-card-custom {
  a {
    &:hover {
      p {
        color: #000000 !important;
      }
    }
  }
}

.filter-search {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;

  .header-search-custom {
    background-color: #f8f8f8;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    &.is-theme {
      background-color: #f8f8f890;
    }

    .input-search {
      border: 0;
      outline: 0;
      width: 90%;
      height: 100%;
      background-color: #f8f8f8;
      border-radius: 16px;

      &.is-theme {
        background-color: #f8f8f805;
        color: black;
      }
    }
  }
}

.product-slick {
  .product-slick-div-img {
    width: 100%;
  }
}

.chat-box-custom {
  .chat-box-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 60px;
    border-radius: 12px;
    background-color: #ff4c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .input-chat-box-custom {
    background-color: #f8f8f8;
    width: 78%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-theme {
      background-color: #2b2b2b;
    }

    .input-chat {
      border: 0;
      outline: 0;
      width: 90%;
      height: 100%;
      background-color: #f8f8f8;
      border-radius: 12px;

      &.is-theme {
        background-color: #2b2b2b;
        color: #f8f8f8;
      }
    }
  }

  .chat-container {
    transition: all 0.5s ease;
    position: fixed;
    right: 90px;
    bottom: 60px;
    width: 400px;
    height: 500px;
    background-color: #f9f9f9;
    // box-shadow: 1px 1.5px 3px 1px gray;
  }

  .text-chat {
    font-size: 14px;
  }

  .chat-body {
    &.scrollbar {
      overflow-y: scroll;
    }

    &.scrollbar::-webkit-scrollbar {
      width: 5px;
    }

    &.scrollbar::-webkit-scrollbar-track {
      background: #dddddd;
    }

    &.scrollbar::-webkit-scrollbar-thumb {
      background: var(--theme-deafult);
      border-radius: 4px;
    }

    &.scrollbar::-webkit-scrollbar-thumb:hover {
      background: #ff4c3b80;
    }
  }
}

@media (max-width: 577px) {
  .icon-nav {
    .header-search-custom {
      display: none;
    }
  }

  .voucher-custom {
    .voucher-background {
      height: 200px;
    }

    .voucher-desc {
      height: 110px;

      .p1 {
        font-size: 38px;
      }

      .p2 {
        font-size: 24px;
      }
    }

    .sale-off {
      font-size: 24px;

      span {
        font-size: 44px;
      }
    }
  }

  .chat-box-icon {
    width: 35px !important;
    height: 35px !important;
    right: 20px !important;
    bottom: 80px !important;
    padding: 5px !important;
  }

  .chat-container {
    right: 20px !important;
    bottom: 180px !important;
    width: 384px !important;
    min-width: 384px !important;
  }
}

.header-search-description {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.EmojiPickerReact {
  .epr_-sisw4f {
    display: none !important;
  }
}
